.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
CAD/controller/#auto_saved_files#
CAD/controller/~controller.kicad_pcb.lck
CAD/controller/~controller.kicad_sch.lck
CAD/controller/controller-backups